@model IList<Topsis.Application.Contracts.Database.StakeholderWorkspaceDto>
@using Topsis.Domain.Common
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var list = Model.GroupBy(x => x.WorkspaceId).Select(x => x.Last()).OrderByDescending(x => x.CurrentStatus == Domain.WorkspaceStatus.AcceptingVotes).ToArray();

    string GetStatusImageUrl(Topsis.Application.Contracts.Database.StakeholderWorkspaceDto item)
    {
        // https://pixabay.com/illustrations/maze-labyrinth-solution-lost-1804499/
        return "~/img/feedback.jpg";
    }
}

<div class="row mb-5">
@foreach (var item in list)
{
    var statusImage = GetStatusImageUrl(item);
    var isPublished = item.CurrentStatus == Domain.WorkspaceStatus.Published;

        <div class="col-md-4  d-flex align-items-stretch">
        <div class="card mb-4 shadow-sm text-white">
            <img src="@(Url.Content(statusImage))" />

                <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">@item.WorkspaceTitle</h5>
                <p class="card-text">@item.WorkspaceDescription</p>
                    <div class="d-flex justify-content-between flex-row-reverse">
                    <div class="btn-group">
                        @if (item.VoteId.HasValue)
                        {
                            <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                               role="button"
                               class="btn btn-block btn-outline-success">See Report</a>
                        }
                        else
                        {
                            switch (item.CurrentStatus)
                            {
                                case Domain.WorkspaceStatus.Finalized:
                                    <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                                       role="button"
                                       class="btn btn-block btn-outline-success">See Report</a>
                                    break;
                                case Domain.WorkspaceStatus.FinalizedWithFeedback:
                                    <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                                       role="button"
                                       class="btn btn-block btn-outline-success">See Report</a>
                                    break;
                                case Domain.WorkspaceStatus.AcceptingVotes:
                                    <a href="@(Url.Page("/Workspace/Vote", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                                       role="button"
                                       class="btn btn-block btn-dark">Vote</a>
                                    break;
                                default:
                                    break;
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="row m-2 p-1 border rounded">
        <div class="col-md-12">

            <h4>
                @item.WorkspaceTitle
            </h4>
            <div>
                @switch (item.CurrentStatus)
                {
                    case Domain.WorkspaceStatus.Published:
                        <p class="badge badge-secondary">Coming soon</p>
                        break;
                    case Domain.WorkspaceStatus.Finalized:
                        <p class="badge badge-success">Finalized</p>
                        break;
                    case Domain.WorkspaceStatus.FinalizedWithFeedback:
                        <p class="badge badge-success">Finalized</p>
                        break;
                    case Domain.WorkspaceStatus.AcceptingVotes:
                        <p class="badge badge-primary">Accepting votes</p>
                        break;
                    default:
                        <p class="badge badge-dark">Not available</p>
                        break;

                }
            </div>
            <p>@item.WorkspaceDescription</p>
        </div>
        <div class="col-md-3 offset-9 p-1">

            @if (item.VoteId.HasValue)
            {
                <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                   role="button"
                   class="btn btn-block btn-outline-success float-right">See Report</a>
            }
            else
            {
                switch (item.CurrentStatus)
                {
                    case Domain.WorkspaceStatus.Finalized:
                        <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                           role="button"
                           class="btn btn-block btn-outline-success float-right">See Report</a>
                        break;
                    case Domain.WorkspaceStatus.FinalizedWithFeedback:
                        <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                           role="button"
                           class="btn btn-block btn-outline-success float-right">See Report</a>
                        break;
                    case Domain.WorkspaceStatus.AcceptingVotes:
                        <a href="@(Url.Page("/Workspace/Vote", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                           role="button"
                           class="btn btn-block btn-dark float-right">Vote</a>
                        break;
                    default:
                        break;
                }
            }

        </div>
    </div>*@
}
</div>
