@page
@using Domain.Common
@model IndexModel
@{
    ViewData["Title"] = "Topsis";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Topsis</h1>
    
</div>

<div class="row pt-md-5">
    <div class="col-md-8">
        <h2>Workspaces</h2>

        @foreach (var item in Model.Workspaces.GroupBy(x => x.WorkspaceId).Select(x => x.Last()))
        {
            var isPublished = item.CurrentStatus == Domain.WorkspaceStatus.Published;
        <div class="row m-2 p-1 border rounded">
            <div class="col-md-12">

                <h4>
                    @item.WorkspaceTitle
                </h4>
                <span>
                    @switch (item.CurrentStatus)
                    {
                        case Domain.WorkspaceStatus.Published:
                            <span class="badge badge-secondary">Coming soon</span>
                            break;
                        case Domain.WorkspaceStatus.Finalized:
                            <p class="badge badge-success">Finalized</p>
                            break;
                        case Domain.WorkspaceStatus.AcceptingVotes:
                            <p class="badge badge-primary">Accepting votes</p>
                            break;
                        default:
                            <span class="badge badge-dark">Not available</span>
                            break;

                    }
                </span>
                <p>@item.WorkspaceDescription</p>
            </div>
            <div class="col-md-3 offset-9 p-1">

                    @if (item.VoteId.HasValue)
                    {
                        <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                           role="button"
                           class="btn btn-block btn-outline-success float-right">See Report</a>
                    }
                    else
                    {
                        switch (item.CurrentStatus)
                        {
                            case Domain.WorkspaceStatus.Finalized:
                                <a href="@(Url.Page("/Workspace/Index", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                                   role="button"
                                   class="btn btn-block btn-outline-success float-right">See Report</a>
                                break;
                            case Domain.WorkspaceStatus.AcceptingVotes:
                                <a href="@(Url.Page("/Workspace/Vote", new { id = item.WorkspaceId.Hash(), area = "Guest" }))"
                                   role="button"
                                   class="btn btn-block btn-primary float-right">Vote</a>
                                break;
                            default:
                                break;
                        }
                    }
                
            </div>
        </div>
    }
    </div>
    

    <div class="col-md-3">
        <a class="twitter-timeline" data-height="700" href="https://twitter.com/ParisReinforce?ref_src=twsrc%5Etfw">Tweets by TwitterDev</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>

