@page
@model Workspaces.IndexModel
@{
}

<h2>Workspaces</h2>


<div class="row">
    <div class="col-md-12">
        <p class="text-right">
            <a asp-page="Create">Create New</a><span>&nbsp;|&nbsp;</span><a asp-page="Import">Import</a>

        </p>
    
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{ int i = 0; }
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @Html.Display(modelItem => modelItem.Data[i].Title)
                        </td>
                        <td>
                            <a asp-page="Edit" asp-route-id="@item.Id.Hash()">Edit</a>
                        </td>
                        <td>
                            <a href="#" class="delete-link" data-url="@(Url.PageLink(pageHandler: "Delete", values: new { scheme = this.Request.Scheme }))" data-id="@(item.Id.Hash())" data-title="@item.Title">Delete</a>
                        </td>
                    </tr>
                    i++;
                }
            </tbody>
        </table>

        @{ var prevDisabled = !Model.Data.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Data.HasNextPage ? "disabled" : ""; }

        <a asp-page="Index"
            asp-route-pagenumber="@(Model.Data.PageNumber - 1)"
           class="btn btn-outline-info @prevDisabled">
            Previous
        </a>
        <a asp-page="Index"
            asp-route-pagenumber="@(Model.Data.PageNumber + 1)"
           class="btn btn-outline-info @nextDisabled">
            Next
        </a>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $(".delete-link").click(function () {

                let self = $(this);
                var title = self.data("title");

                var promptResult = prompt(`Are you sure you want to delete workspace: [${title}]?\r\nType [delete] to proceed.`);
                if (promptResult === 'delete') {
                    var url = self.data("url");
                    console.log(url);
                    var data = {
                        "id": self.data('id'),
                        "__RequestVerificationToken": "@(this.HttpContext.GetAntiforgeryToken())"
                    };

                    // send ajax
                    $.ajax({
                        url: url, // url where to submit the request
                        type: "POST", // type of action POST || GET
                        dataType: 'json', // data type
                        data: data, // post data || get data
                        success: function (result) {
                            // you can see the result from the console
                            // tab of the developer tools
                            window.location.reload();
                        },
                        error: function (xhr, resp, text) {
                            console.log(xhr, resp, text);
                        }
                    })
                }
            });
        });
    </script>
}
