@page
@model RegisterModel
@using Topsis.Web.Infrastructure

@inject CommonLocalizationService CommonLocalizer

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
}

@{ ViewData["Title"] = CommonLocalizer.Get("Registration"); }

<h2>@CommonLocalizer.Get("Registration")</h2>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post" class="no-ajax">
            @Html.ValidationDiv()
            @Html.FormBlock(m => m.Data.Country)
            @Html.FormBlock(m => m.Data.JobCategory)
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <p class="alert alert-info">@CommonLocalizer.Get("The voting process is anonymous. 'Job Category' and 'Country' will be used for aggregated statistics. The anonymised survey results may be used for scientific publications.")</p>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}