@page
@model Workspace.IndexModel
@using Topsis.Domain.Common
@{
    var currentStatus = Model.Data.Workspace.CurrentStatus;
    var hasReports = Model.Data.Workspace.IsFinalized() && Model.Data.Workspace.Reports?.Any() == true;
    var reportCount = Model.Data.Workspace.Reports?.Count() ?? 0;
    var noResultsMessage = string.Empty;
    var canVote = currentStatus == Domain.WorkspaceStatus.AcceptingVotes;
    var icon = string.Empty;
    switch (Model.Data.Workspace.CurrentStatus)
    {
        case Domain.WorkspaceStatus.Draft:
            noResultsMessage = "Workspace is not ready yet.";
            break;
        case Domain.WorkspaceStatus.Published:
            noResultsMessage = "Workspace voting not started yet.";
            break;
        case Domain.WorkspaceStatus.AcceptingVotes:
            noResultsMessage = hasReports 
                ? $"Based on the previous discussion you can make your adjustment vote."
                : $"Thank you for your vote.";
            break;
        case Domain.WorkspaceStatus.Finalized:
        case Domain.WorkspaceStatus.FinalizedWithFeedback:
            icon = "hourglass_top";
            noResultsMessage = "Workspace voting completed. Waiting for results.";
            break;
        case Domain.WorkspaceStatus.Archived:
            noResultsMessage = "Workspace has archived.";
            break;
        default:
            break;
    }
}

@section HeadScripts
{
    <environment include="Development">
        <script src="~/lib/chartjs/chart.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"
                integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q=="
                asp-fallback-src="~/lib/chartjs/chart.min.js"
                crossorigin="anonymous"
                referrerpolicy="no-referrer"></script>
    </environment>

    <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
}

<div class="row pb-5">
    <div class="col-md-12">
        <h2>@Model.Data.Workspace.Title</h2>
        <p class="lead">@Model.Data.Workspace.Description</p>
        @if (hasReports == false)
        {
            <p class="text-warning">
                @if (string.IsNullOrEmpty(icon) == false)
                {
                    <span class="material-icons md-48">@icon</span>
                }
                @noResultsMessage
            </p>
        }

        @if (canVote)
        {
            <p>You can change your vote <a href="@Url.Page("Vote", new { id = Model.Data.Workspace.Id.Hash() })">here</a>.</p>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>User</td>
                    <td>Message</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input id="userInput" type="text" placeholder="Type your name" /></td>
                    <td><input id="messageInput" type="text" placeholder="Type your msg" /></td>
                    <td><button id="sendButton" name="sendButton">Send</button></td>
                </tr>
            </tbody>
        </table>
        <ul id="messagesList">

        </ul>
    </div>
</div>

@if (hasReports)
{
    <div class="row">

        <div class="col-md-12">
            <h3>Prioritization</h3>
            <p class="lead">todo: Prioritization desc</p>

            <div class="col-md-3 float-md-right">
                <h5>Consensus</h5>
                <p class="lead">
                    <span class="badge @Model.CompareReport.MyBadgeCls">Me: @(Model.CompareReport.MyConsensus)%</span>&nbsp;<span class="badge @Model.CompareReport.AverageBadgeCls">Avg: @(Model.CompareReport.AverageConsensus)%</span>
                </p>
                
            </div>

            @if (Model.CompareReport.Tips.Any())
            {
            <div class="col-md-9 pt-2 text-center">
            
                @foreach (var item in Model.CompareReport.Tips)
                {
                    <div class='p-3 mb-2 bg-secondary text-light font-weight-bold'>Your vote on alternative [@item.AlternativeTitle] had the largest difference from the group solution.</div>
                }
            
            </div>
            }

            
            <canvas id="chAlternatives"></canvas>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Consensus</h3>
            <p class="lead">todo: Consensus desc</p>
        </div>
        @*<div class="col-md-4">
            <canvas id="chCompareConsensus"></canvas>
        </div>*@

        <div class="col-md-8">
            <canvas id="chConsensus"></canvas>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <h3>Categories</h3>
            <p class="lead">todo: Categories desc</p>
            <canvas id="chCategories"></canvas>
        </div>
    </div>

    @if (reportCount > 1)
    {
        <div class="row mt-5">
            <div class="col-md-12">
                <h3>Round Comparison</h3>
                <p class="lead">todo: Round Comparison desc</p>
                <canvas id="chReportComparison"></canvas>
            </div>
        </div>
    }
    
    @*<div class="row mt-5">
        <div class="col-md-12">
            <h3>Consensus</h3>
            <canvas id="chConsensusDegree"></canvas>
        </div>
    </div>*@
}
@section Scripts {

    <script type="text/javascript">
    let workspaceId = '@Model.Data.Workspace.Id.Hash()';
    var CONNECTION_GROUP = `workspace-${workspaceId}`;
    </script>

    <environment include="Development">
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/votingHub.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/votingHub.min.js"></script>
    </environment>

    <script>
        Chart.defaults.datasets.bar.minBarLength = 7;

        @*let configCompareConsensus = JSON.parse('@Html.Raw(Model.ConsensusCompareReportJson)');
        let compareChart = new Chart(document.getElementById('chCompareConsensus'), configCompareConsensus);*@
        
        let jsHasReports = @(hasReports ? "true" : "false");
        if (jsHasReports)
        {
            let alternativesYLabels = JSON.parse('@Html.Raw(Model.AlternativesYLabelsJson)');
            let alternativesTicksCallback = function (value, idx) {
                return alternativesYLabels[idx];
            };

            let configAlternatives = JSON.parse('@Html.Raw(Model.AlternativesReportJson)');
            configAlternatives.options.scales['y'].ticks.callback = alternativesTicksCallback;

            let altChart = new Chart(document.getElementById('chAlternatives'), configAlternatives);

            let configConsensus = JSON.parse('@Html.Raw(Model.ConsensusReportJson)');
            let consensusChart = new Chart(document.getElementById('chConsensus'), configConsensus);

            let configCategories = JSON.parse('@Html.Raw(Model.CategoriesReportJson)');
            configCategories.options.scales['y'].ticks.callback = alternativesTicksCallback;
            let categoriesChart = new Chart(document.getElementById('chCategories'), configCategories);

            //let configConsensusDegree = JSON.parse('@Html.Raw(Model.ConsensusDegreeJson)');
            //let chConsensusDegreeChart = new Chart(document.getElementById('chConsensusDegree'), configConsensusDegree);

            if (@reportCount > 1) {
                let reportComparison = JSON.parse('@Html.Raw(Model.ReportComparisonJson)');
                let chReportComparison = new Chart(document.getElementById('chReportComparison'), reportComparison);
            }
        }
        
    </script>

    @* https://learn.microsoft.com/en-us/aspnet/signalr/overview/guide-to-the-api/hubs-api-guide-javascript-client#how-to-get-a-proxy-for-a-hub-class *@
    <script type="text/javascript">
        
        let groupName = "@(Hubs.VotingHub.GetWorkspaceGroupName(Model.Data.Workspace.Id))";
        let connection = connectToGroup("votingHub", groupName, function (){
            document.getElementById("sendButton").disabled = false;
        });

        connection.onreconnecting(function () {
            console.log(`Connection lost. Reconnecting...`);
            document.getElementById("sendButton").disabled = true;
        });

        connection.onreconnected(function () {
            console.log("Reconnected.");
            document.getElementById("sendButton").disabled = false;
        });

        //Disable the send button until connection is established.
        document.getElementById("sendButton").disabled = true;

        connection.on("workspace_status_changed", function (id, status) {
            console.log(`Received message from 'workspace:${id}' that status has changed to: ${status}.`);
            location.reload();
        });

        document.getElementById("sendButton").addEventListener("click", function (event) {
            var user = document.getElementById("userInput").value;
            var message = document.getElementById("messageInput").value;
            connection.invoke("SendMessage", user, message).catch(function (err) {
                return console.error(err.toString());
            });
            event.preventDefault();
        });
    </script>
}

